@model IEnumerable<ToDoList.Models.Todo>

<table class="table table-striped mt-2">
    <thead>
        <tr>
            @if (Model.All(t => t.IsCompleted))
            {
                <th>Назва</th>
                <th>Опис</th>
            }
            else
            {
                <th></th>
                <th>Назва</th>
                <th>Опис</th>
                <th>Дії</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            <tr>
                @if (!todo.IsCompleted)
                {
                    <td>
                        <form asp-action="Complete" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@todo.Id" />
                            <button type="submit" style="border: none; background: transparent; cursor: pointer;" title="Завершити">
                                <i class="fa-regular fa-circle-check" style="font-size: 30px;"></i>
                            </button>
                        </form>
                    </td>
                }
                <td>@todo.Title</td>
                <td>@todo.Description</td>
                @if (!todo.IsCompleted)
                {
                    <td>
                        <a href="@Url.Action("Details", "Todo", new { id = todo.Id })" class="btn btn-info btn-sm" title="Деталі">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@Url.Action("Edit", "Todo", new { id = todo.Id })" class="btn btn-warning btn-sm" title="Редагувати">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@todo.Id" />
                            <button type="submit" class="btn btn-danger btn-sm" title="Видалити">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
